body {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapers.com%2F4k-nature&psig=AOvVaw0RoQhZ9SlQTqfyDVTAki3O&ust=1717671005351000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNCMiaSlxIYDFQAAAAAdAAAAABAE);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 1rem 0;
}

section#about {
  background: #f4f4f4;
}

section#projects {
  background: #e2e2e2;
}

section#contact {
  background: #d4d4d4;
}

.project {
  background: #fff;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #555;
}
